requests == 2.31.0
https://github.com/jpbelga/riscv-wheels/raw/refs/heads/main/torch-2.4.1-cp310-cp310-linux_riscv64.whl
-i https://think-and-dev.github.io/riscv-python-wheels/pip-index/
numpy == 1.26.2